.loginPage{
    background-color: #a2cbfa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginForm{
    background-color:white;
    width: 50%;
    height: 80vh;
    box-shadow: 3px 3px 20px rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.imgContainer{
    
    width: 70%;
    margin: 80px auto;

}
.avatar{
    
    width: 100%;
    
}
.containerInput{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}
.containerForgot{
    width: 100%;
    margin: auto;
    
}

button {
    background-color: #43BCE3;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: 1px solid #43BCE3;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
  }
button:hover{
    background-color: white;
    color: #43BCE3
}

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #217AB7;
    box-sizing: border-box;
  }